
.dark-theme, html[data-theme=dark]{ 

    --outer-bar: ;
    --dark-sidebar: ;
    --side-bar: ;
    --note: ;
    --bg: ;
    
    --f-icon: ;
    --folder: ;

    --headers: ;
    --text: ;
    --soft-text: ;
    --text-dl: ;
    
    --code-text: ;
    --code-bg: ;

    --i-at: ;
    --footnote: ;
    --inactive: ;
    --tag: ;

    --hr: ;
    --lines: ;
    
    --embed-bg: ;
    --aside-bg: ;
    --accent: ;
    --lite-accent: ;
    --accent2: ;
    --accent2-lite: ;
    --dark-accent: ;
    --deep-dark-accent: ;

    --table: ;
    --td: ;
    --outline: ;

    --scrollbar-bg: ;
    --scrollbar-fg: ;
    
    --graph-lines: ;
    --highlight: ;
    --ph-highlight-color-blue: ;


    --bttn: ;
}

.light-theme, html[data-theme=light]{ 
    
    --color-level-2: ;
    --color-level-3: ;

    --outer-bar: ;
    --dark-sidebar: ;
    --side-bar: ;
    --note: ;
    --bg: ;

    
    --f-icon: ;
    --folder: ;

    --headers: ;
    --text: ;
    --soft-text: ;
    --text-dl: ;
    
    --code-text: ;
    --code-bg: ;

    --i-at: ;
    --footnote: ;
    --inactive: ;
    --tag: ;

    --hr: ;
    --lines: ;
    
    --embed-bg: ;
    --aside-bg: ;
    --accent: ;
    --lite-accent: ;
    --accent2: ;
    --accent2-lite: ;
    --dark-accent: ;
    --deep-dark-accent: ;

    --table: ;
    --td: ;
    --outline: ;
    
    --scrollbar-bg: ;
    --scrollbar-fg: ;

    --graph-lines: ;
    --highlight: ;
    --ph-highlight-color-blue: ;

    --bttn: ;
}